
<ul class="nav nav-stacked">
    <li>@Html.ActionLink("Pizza", "Pizza", "Menu", new { area = "" }, null)</li>
    <li>@Html.ActionLink("Sałatki", "Salad", "Menu", new { area = "" }, null)</li>
    <li>@Html.ActionLink("Sosy", "Sauce", "Menu", new { area = "" }, null)</li>
    <li>@Html.ActionLink("Napoje", "Drink", "Menu", new { area = "" }, null)</li>
</ul>