
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div id="PizzaPrezentation" class="col-md-12">
        <img src="~/Content/Images/pizzaSlide_1.jpg" />
    </div>
    <div id="Contact" class="col-md-12">
        <div class="col-md-offset-1 col-md-3">
            <h3>Adres:</h3>
            <p>00-000 Fake Kraków</p>
            <p>ul. Fake ulica 00</p>
        </div>
        <div class="col-md-offset-3 col-md-3">
            <h3>Godziny otwarcia: </h3>
            <p>Pon.-Czw.: 12.00 - 22.00</p>
            <p>Pt.-Sob.: 12.00 - 24.00</p>
            <p>Nieź.: 12.00 - 22.00</p>
        </div>
        <div class="col-md-offset-1 col-md-3">
            <h3>Kontakt</h3>
            <p>Email: fakeEmail@@gemail.com</p>
            <p>Telefon: 000 000 000</p>
        </div>
    </div>
    <div class="MapLocalization">

    </div>
</div>