
@{
    ViewBag.Title = "Galeria zdjęć";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<PizzaShop.Models.PizzaShopModels.CMS.GalleryItem>

@if (Model != null)
{
<div class="row">
    <div id="Gallery" class="col-md-12">
        <div id="PizzaPrezentation" class="col-md-12">
            <img src="~/Content/Images/pizzaSlide_1.jpg" />
        </div>
        <div id="GalleryItems" class="col-md-12">
            <h2 class="col-md-12">@ViewBag.Title</h2>
            @foreach (var galleryItem in Model)
            {
                <div class="col-md-3">
                    <img class="img-thumbnail" src="@galleryItem.PictureUrl" />
                </div>
            }
        </div>
    </div>
</div>
}