
@{
    ViewBag.Title = "Galeria zdjęć";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div id="Gallery" class="col-md-12">
        <div id="PizzaPrezentation" class="col-md-12">
            <img src="~/Content/Images/pizzaSlide_1.jpg" />
        </div>
        <div id="GalleryItems" class="col-md-12">
            <h2 class="col-md-12">@ViewBag.Title</h2>
            <div class="col-md-3">
                <img src="~/Content/Images/pizza_1.jpg" class="img-thumbnail" />
            </div>
            <div class="col-md-3">
                <img src="~/Content/Images/pizza_2.jpg" class="img-thumbnail" />
            </div>
            <div class="col-md-3">
                <img src="~/Content/Images/pizza_3.jpeg" class="img-thumbnail" />
            </div>
            <div class="col-md-3">
                <img src="~/Content/Images/pizza_1.jpg" class="img-thumbnail" />
            </div>
            <div class="col-md-3">
                <img src="~/Content/Images/pizza_3.jpeg" class="img-thumbnail" />
            </div>
            <div class="col-md-3">
                <img src="~/Content/Images/pizza_2.jpg" class="img-thumbnail" />
            </div>
            <div class="col-md-3">
                <img src="~/Content/Images/pizza_2.jpg" class="img-thumbnail" />
            </div>
            <div class="col-md-3">
                <img src="~/Content/Images/pizza_3.jpeg" class="img-thumbnail" />
            </div>
        </div>
    </div>
</div>