@{
    ViewBag.Title = "Strona główna";
}

<div class="row">
    <section id="CarouselSection" class="col-md-12">
        @Html.Action("SliderPartial", "Home")
    </section>
    <section id="InformationSection" class="col-md-12">
        @Html.Action("InformationPartial","Home")
    </section>
    <section id="Announcement" class="col-md-12">
        <dv id="Events" class="col-md-6">
            <h3><span class="glyphicon glyphicon-tag"></span> Wydarzenia:</h3>
            @Html.Action("EventPartial", "Home")
        </dv>
        <div id="News" class="col-md-6">
            <h3><span class="glyphicon glyphicon-bell"></span> Co nowego:</h3>
            @Html.Action("NewsPartial", "Home")
        </div>
    </section>
</div>