
@model IEnumerable<PizzaShop.Models.PizzaShopModels.CMS.MenuItem>

@if (Model != null)
{
    <ul id="MainNav" class="nav navbar-nav">
        @foreach (var menuItem in Model)
        {
            <li>
                @Html.ActionLink(menuItem.Title, menuItem.ActionName, menuItem.ControllerName)
            </li>
        }
    </ul>
}