body {
    font-size: 12px;
    font-family: 'DejaVu Sans';
    background-color: #b1adcf;
}
#Container{
}
header{

}
nav{
    font-size: 1.4em;
    letter-spacing: 2px;
}
nav>ul.navbar-nav{
    position: relative;
    bottom: 20px;
    right: 30px;
}
#OrderPhoneNumber{
    color: white;
    position: relative;
    right: 60px;
    top: 20px;
    letter-spacing: 1px;

}
#OrderPhoneNumber span{
    color: #23b621;
}
nav>ul.navbar-nav a:hover{
    background: white;
    color: #221D46;
}
main{

}
.navbar-pizza{
    min-height: 150px;
    background: #312D51;
    border-radius: 2px 2px 0 0;
    margin:0;
}
.navbar-pizza a{
    color: #ffffff;
    text-decoration: none;
}
.navbar-pizza a:hover{
    opacity: 0.7;
}
.navbar-logo{
    font-size: 58px;
    display: inline-block;
    margin: 30px 0 0 70px;
    letter-spacing: 5px;
}
#Carousel img{
    height: 350px;
    width: 100%;
}
#CarouselSection{
    margin-bottom: 5px;
    padding: 0;
}
#InformationSection{
    font-size: 1.3em;
    background: #312D51;
    color: white;
    margin-bottom: 5px;
    letter-spacing: 1px;
}
#Announcement{
    color: white;
    font-size: 1.3em;
    padding: 0;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
#News{
    background: #312D51;
    width: 49%;
    margin-left: 1%;
}
#Events{
    background: #312D51;
    width: 49%;
    margin-right: 1%;
}
#Events>ul{
    padding:0;
}
#Events>ul li{
    display: block;
    list-style: none;
    padding: 5px;
}
.addedDate{
    font-size: 0.7em;
    background: #b1adcf;
    color: black;
    padding: 2px;
    display: inline-block;
    border-radius: 5px;
}
footer{
    color: white;
    background: #0F0E14;
    letter-spacing: 1px;
}
#MenuItems{
    font-size: 1.3em;
    letter-spacing: 2px;
    background: #312D51;
    padding: 0;
}
#MenuItems a{
    color: white;
}
#MenuItems a:hover{
    background: #221D46;
}
#PizzaPrezentation{
    padding: 0;
}
#PizzaPrezentation>img{
    height: 200px;
    width: 100%;
}
#MenuItemsResult{
    font-size: 1.3em;
    letter-spacing: 2px;
    background: white;
}
.component{
    font-size: 0.9em;
    letter-spacing: 0;
}
#Gallery{
    padding: 0;
    background: #312D51;
    color: white;
}
#GalleryItems img{
    margin-bottom: 20px;
    height: 170px;
}
#Contact{
    background: #312D51;
    padding-bottom: 30px;
    font-size: 1.3em;
    color: white;
}